.game {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

button.game {
    background: rgba(9, 26, 43, 0.9);
    border-radius: 4px;
    border: 2px solid #a0cd73;
    cursor: pointer;
    color: white;
    padding: 7px 15px;
}

button:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

button:active {
    position: relative;
    top: 1px;
}

div.labeled-input {
    margin-top: 2px;
    margin-bottom: 2px;
    background: rgba(41, 56, 78, 0.9);
}

div.labeled-select {
    margin-top: 2px;
    margin-bottom: 2px;
    background: rgba(41, 56, 78, 0.9);
}

div.labeled-textarea {
    margin-top: 2px;
    margin-bottom: 2px;
    background: rgba(41, 56, 78, 0.9);
}

div.keybinding-input {
    margin-top: 2px;
    margin-bottom: 2px;
    background: rgba(41, 56, 78, 0.9);
}

label.labeled-input {
    margin-right: 50px;
    display: inline-block;
    width: 170px;
    background: rgba(9, 26, 43, 0.90);
    padding: 10px 0px 10px 8px;
}

label.labeled-select {
    margin-right: 47px;
    display: inline-block;
    width: 170px;
    background: rgba(9, 26, 43, 0.9);
    padding: 10px 0px 10px 8px;
}

label.labeled-textarea {
    background: rgba(9, 26, 43, 0.9);
    margin-right: 15px;
    display: inline-block;
    padding: 10px 44px 6px 8px;
}

label.file-input {
    margin-left: 5px;
}

label.keybinding-input {
    background: rgba(9, 26, 43, 0.9);
    margin-right: 15px;
    display: inline-block;
    padding: 8px 20px 8px 8px;
    width: 150px;
}

input.labeled-input {
    width: 50px;
    text-align: center;
    color: white;
    border: none;
    border-bottom: 3px solid #a0cd73;
    background: rgba(11, 34, 56, 0.0);
}

select.labeled-select {
    color: white;
    border: none;
    border-bottom: 3px solid #a0cd73;
    background: rgba(11, 34, 56, 0.0);
}

span.keybinding-input {
    display: inline-block;
    margin-left: 29px;
    padding: 7px;
    width: 20px;
    text-align: center;
    background: rgba(41, 56, 78, 0.9);
}

option.labeled-select {
    background: black;
}

button.keybinding-input {
    margin-left: 32px;
}

button.keybindings-quickstart {
    width: 100%;
}

textarea.labeled-textarea {
    color: white;
    border: 2px solid #a0cd73;
    margin: 5px 0px 2px 5px;
    background: rgba(11, 34, 56, 0.1);
}

.options-scroll-div {
    padding-left: 2px;
    width: 360px;
    height: 420px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0);
    text-align: left;
}

.options-free-text {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 17px;
    background: rgba(9, 26, 43, 1);
}

button.navigation-heading {
    background: rgba(9, 26, 43, 0.9);
    border-radius: 0px 0px 25px 25px;
    border: 2px solid #a0cd73;
    cursor: pointer;
    color: white;
    padding: 7px 20px;
}

button.navigation-heading:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

button.navigation-heading:active {
    position: relative;
    top: 1px;
}

div.mode-radio {
    padding-left: 2px;
    height: 120px;
    width: 300px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0);
    text-align: left;
}

div.mode-radio-option {
    margin-top: 2px;
    margin-bottom: 2px;
    background: rgba(41, 56, 78, 0.9);
}

label.mode-radio-option {
    display: inline-block;
    margin-left: 8px;
    padding: 10px 8px 10px 8px;
}

input.mode-radio-option {
    display: inline-block;
    background: rgba(209, 226, 243, 0.9);
    margin-left: 10px;
}
